{{#if rustw_message}}
<div id="div_message">
{{{rustw_message}}}
</div>
{{/if}}

<div id="div_errors">
    <span id="expand_errors" class="small_button"></span> <span id="div_std_label">errors:</span>
    {{#each errors}}
        <div class="div_diagnostic div_{{level}}">
            <span class="level_{{level}}">{{level}}</span>
            {{#if code}}
            <span class="err_code" {{#if code.explanation}}explain="{{code.explanation}}"{{/if}} code="{{code.code}}">{{code.code}}</span>
            {{/if}}
            : <span class="err_msg">{{{message}}}</span>
            {{> src_snippet }}

            {{#if children}}
            <div class="group_children">
            <span class="expand_children small_button"></span>
            <span class="div_children_dots">...</span>
            <span class="div_children">
            {{#each children}}
                <span class="div_diagnostic_nested div_{{level}}">
                    <span class="level_{{level}}">{{level}}</span>: <span class="err_msg">{{{message}}}</span>
                    {{> src_snippet }}
                </span><br>
            {{/each}}
            </span>
            </div>
            {{/if}}
        </div>
    {{/each}}
</div>

<div id="div_stdout">
    <span id="expand_messages" class="small_button"></span> <span id="div_std_label">info:</span>
    <div id="div_messages">
        {{#each messages}}
            <pre>{{this}}</pre>
        {{/each}}
    </div>
</div>
