{{#if rustw_message}}
<div id="div_message">
{{{rustw_message}}}
</div>
{{/if}}

<div id="div_stdout">
    <span id="expand_messages" class="small_button"></span> <span id="div_std_label">stdout:</span>
    <div id="div_messages">
        <pre>{{messages}}</pre>
    </div>
</div>

<div id="div_errors">
    <span id="expand_errors" class="small_button"></span> <span id="div_std_label">stderr:</span>
    {{#each errors}}
        <div class="div_diagnostic div_{{level}}">
            <span class="level_{{level}}">{{level}}</span>
            {{#if code}}
            <span class="err_code" {{#if code.explanation}}explain="{{code.explanation}}"{{/if}} code="{{code.code}}">{{code.code}}</span>
            {{/if}}
            : <span class="err_msg">{{{message}}}</span>

            {{#if spans}}
            <br><span class="expand_spans small_button"></span>
            <span class="div_spans">
            {{#each spans}}
                <span class="div_span">
                    <span class="span_loc" link="{{file_name}}:{{line_start}}:{{line_end}}" snippet="{{plain_text}}">{{file_name}}:{{line_start}}:{{column_start}}: {{line_end}}:{{column_end}}</span>
                    <div class="div_all_span_src">
                    {{#each text}}
                        <span class="span_src">{{{this}}}</span><br>
                    {{/each}}
                    </div>
                </span>
            {{/each}}
            </span>
            {{/if}}

            {{#if children}}
            <div class="group_children">
            <span class="expand_children small_button"></span>
            <span class="div_children_dots">...</span>
            <span class="div_children">
            {{#each children}}
                <span class="div_diagnostic_nested div_{{level}}">
                    <span class="level_{{level}}">{{level}}</span>: <span class="err_msg">{{{message}}}</span>

                    {{#if spans}}
                    <br><span class="expand_spans small_button"></span>
                    <span class="div_spans">
                    {{#each spans}}
                        <span class="div_span">
                            <span class="span_loc" link="{{file_name}}:{{line_start}}:{{line_end}}" snippet="{{plain_text}}">{{file_name}}:{{line_start}}:{{column_start}}: {{line_end}}:{{column_end}}</span>
                            <div class="div_all_span_src">
                            {{#each text}}
                                <span class="span_src">{{{this}}}</span><br>
                            {{/each}}
                            </div>
                        </span>
                    {{/each}}
                    </span>
                    {{/if}}
                </span><br>
            {{/each}}
            </span>
            </div>
            {{/if}}
        </div>
    {{/each}}
</div>
