<span class="div_span_src_number">
    {{#each text}}
        <div class="span_src_number" id="snippet_line_number_{{../id}}_{{add @index ../line_start}}">{{add @index ../line_start}}</div>
    {{/each}}
</span><span class="div_span_src">
    {{#each text}}
        <div class="span_src" id="snippet_line_{{../id}}_{{add @index ../line_start}}">{{#if this}}{{{this}}}{{else}}&nbsp;{{/if}}</div>
    {{/each}}
</span>
